{% extends "layout_base.html" %}
{% block head %}
<style>
table.header {
  border-bottom: 2px navy solid;
}

table.header td.linha_digitavel {
  color: navy;
}

table.header div.field_cod_banco {
  color: navy;
  border-right: 2px solid navy;
  border-left: 2px solid navy;
}

table.line {
  padding-bottom: 1px !important;
}

table.line tr.campos td {
  border-left: 5px #ffe000 solid;
}

table.line tr.titulos td {
  border-left: 5px #ffe000 solid;
  color: navy;
}

table.line td.instrucoes {
  width: 476px;
}

.col_1_of_18 {
  width: 30px;
}
.col_1_of_18.end {
  width: 21px;
}
.col_2_of_18 {
  width: 67px;
}
.col_2_of_18.end {
  width: 58px;
}
.col_3_of_18 {
  width: 104px;
}
.col_3_of_18.end {
  width: 95px;
}
.col_4_of_18 {
  width: 141px;
}
.col_4_of_18.end {
  width: 132px;
}
.col_5_of_18 {
  width: 178px;
}
.col_5_of_18.end {
  width: 169px;
}
.col_6_of_18 {
  width: 215px;
}
.col_6_of_18.end {
  width: 206px;
}
.col_7_of_18 {
  width: 252px;
}
.col_7_of_18.end {
  width: 243px;
}
.col_8_of_18 {
  width: 289px;
}
.col_8_of_18.end {
  width: 280px;
}
.col_9_of_18 {
  width: 326px;
}
.col_9_of_18.end {
  width: 317px;
}
.col_10_of_18 {
  width: 363px;
}
.col_10_of_18.end {
  width: 354px;
}
.col_11_of_18 {
  width: 400px;
}
.col_11_of_18.end {
  width: 391px;
}
.col_12_of_18 {
  width: 437px;
}
.col_12_of_18.end {
  width: 428px;
}
.col_13_of_18 {
  width: 474px;
}
.col_13_of_18.end {
  width: 465px;
}
.col_14_of_18 {
  width: 511px;
}
.col_14_of_18.end {
  width: 502px;
}
.col_15_of_18 {
  width: 548px;
}
.col_15_of_18.end {
  width: 539px;
}
.col_16_of_18 {
  width: 585px;
}
.col_16_of_18.end {
  width: 576px;
}
.col_17_of_18 {
  width: 622px;
}
.col_17_of_18.end {
  width: 613px;
}
.col_18_of_18 {
  width: 659px;
}
.col_18_of_18.end {
  width: 650px;
}

.valor_cobrado, .vencimento2, .reservado, .valor_cobrado2 {
  background-color: #ffc;
}
</style>
{% endblock %}
